@import "../../styles/index";

.item-container{

  border: 1px solid #E7E7E7;
  margin: 1% !important;
  min-height: 100px;

}

.item-name{
  font: $main-font;
  color: $light-black;
}


.item-info{
  font: $secondary-font;
  color: $dark-grey-font;
}

.link-item-container{
  text-decoration: none;
  width: 97%;

}