@import "../../styles/variables.scss";

.empty-state{
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

  div{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: $medium-grey;
  }
}