@import './variables.scss';

body {
  margin: 0 !important;
  font-family: $main-font;
  padding-top: 100px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-error{
  color: red;
  font-size: 12px;
}

.options-container{
  width: 100%;
  height: 100%;

  border: 1px solid #BFBFBF;
  border-radius: 4px;

  margin: 1%;

}

.secondary-text {
  font: $secondary-font !important;
}

.main-text {
  font: $main-font !important;
}

.medium-grey {
  color: $medium-grey !important;
}

.options-side {
  background-color: $light-grey;
  color: #ACACAC;
  font: $secondary-font;
  padding: 3%;
  padding-top: 1%;

}

.items-container {
  padding: 2%;
  overflow-y: auto;
  height: 400px;
}