/* Colors */
$white: #FFF;
$green: #09BE75;

$grey-font: #777B8D;
$dark-grey-font: #3C3B4B;
$medium-grey: #ACACAC;
$light-grey: #E7E7E7;


/* Fonts */
$main-font: 'Raleway', sans-serif;
$secondary-font: 'PT Sans Caption', sans-serif;