/* Colors */
$white: #FFF;
$green: #09BE75;

$grey-font: #777B8D;
$dark-grey-font: #3C3B4B;
$light-grey: #E7E7E7;
$light-black: #2A2A2A;
$light-red: #FF697E;
$light-blue: #506AE9;
$light-orange: #FF9569;


/* Fonts */
$main-font: 'Raleway', sans-serif;
$secondary-font: 'PT Sans Caption', sans-serif;
